<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
		<body>
			<nav>
				<ul class="nav nav-pills justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Editor</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Field Details</a>
					</li>
				</ul>
			</nav>
      
			<div class="container">			
				{{ content }}			
			</div><!-- /.container -->
      
			<footer>
	    		<ul>
	        		<li><a href="mailto:test@test.com">email</a></li>
	        		<li><a href="https://github.com">github.com</a></li>
				</ul>
			</footer>
      
		</body>
	</html>
